* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    color: aliceblue;
}
h2{
    font-size: 70px;
}
span{
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(59, 94, 94, 0.29);;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/cielo.png');
    background-position: center bottom;
    height: 792px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    padding: 25px;
    width: 900px;
    height: 500px;
    gap: 20px;
}

.contenedorClimaHora{
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(61, 252, 255, 0.399);
    border-radius: 20px;
    gap: 12px;
}
input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: black;
}
.climaHora{
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: rgba(59, 94, 94, 0.29);
    padding: 30px;
    border-radius: 20px;
}

.infoClima, .lluvia{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.lluvia img{
width: 100px;
height: 100px;
}
.lluvia>p{
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(61, 252, 255, 0.399);
}
.logo {
display: flex;
flex-direction: column;
align-items: center;
}
.climaDiario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 10px;
}
.diario{
display: flex;
flex-direction: column;
align-items: center;
background-color:  rgba(61, 252, 255, 0.399);
border-radius: 20px;
padding: 12px;
gap: 16px;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.info
.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen>img{
    width: 50px;
    height: 50px;
}

